.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px;
   
   
}
.nav-logo img{
    width: 90%;
    height: 50px;
    display: flex;
    align-items:center;
    padding-left: 20px;
   
}

.nav-button{
    padding-right: 30px;
}

.nav-button a{
    padding-left: 20px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}